In [ ]:
import pandas as pd

df = pd.read_csv('marketing_campaign.csv',sep='\t')

df.info()
df.describe()
df.isnull().sum()


#Percenatage of Null values in the data set
(df.isnull().sum() / len(df)) * 100


#removing the null value rows from the dataset
df = df.dropna(subset=['Income'])

# Checkcing if null values of income are removed.
df.isnull().sum()


#Check for the duplicates
df.duplicated().sum()


#Drop the duplicates if present
df = df.drop_duplicates()


#Converting the date to coninstent format
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'],dayfirst=True)

text_cols = df.select_dtypes(include='object').columns

for col in text_cols:
    print(f"\nColumn: {col}")
    print(df[col].unique())

# Standardaize the values
text_cols = df.select_dtypes(include='object').columns

for col in text_cols:
    df[col] = df[col].str.lower().str.strip()

#Check again for standardize the values
for col in text_cols:
    print(f"\nColumn: {col}")
    print(df[col].unique())

#Before Renaming the Column Header
df.columns

#Renaming the column header to lowercase version
df.columns = df.columns.str.lower()

df.columns

df.info()

binary_cols = ['acceptedcmp1','acceptedcmp2','acceptedcmp3',
               'acceptedcmp4','acceptedcmp5','complain','response']

for col in binary_cols:
    print(col, df[col].unique())

df[binary_cols] = df[binary_cols].astype('bool')

df.info()

df.to_csv('marketing_campaign_cleaned.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

Column: Education
['Graduation' 'PhD' 'Master' 'Basic' '2n Cycle']

Column: Marital_Status
['Single' 'Together' 'Married' 'Divorced' 'Widow' 'Alone' 'Absurd' 'YOLO']

Column: Education
['graduation' 'phd' 'master' 'basic' '2n cycle']

Column: Marital_Status
['single' 'together' 'married' 'divorced' 'widow' 'alone' 'absurd' 'yolo']
<class 'pandas.core.frame.DataFrame'>
Index: 2216 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2216 non-null   int64
 1   year_birth           2216 non-null   int64
 2   education            2216 non-null   object
 3   marital_status       2216 non-null   object
 4   income               2216 non-null   float64
 5   kidhome              2216 non-null   int64
 6   teenhome             2216 non-null   int64
 7   dt_customer          2216 non-null   datetime64[ns]
 8   recency              2216 non-null   int64
 9   mntwines             2216 non-null   int64
 10  mntfruits            2216 non-null   int64
 11  mntmeatproducts      2216 non-null   int64
 12  mntfishproducts      2216 non-null   int64
 13  mntsweetproducts     2216 non-null   int64
 14  mntgoldprods         2216 non-null   int64
 15  numdealspurchases    2216 non-null   int64
 16  numwebpurchases      2216 non-null   int64
 17  numcatalogpurchases  2216 non-null   int64
 18  numstorepurchases    2216 non-null   int64
 19  numwebvisitsmonth    2216 non-null   int64
 20  acceptedcmp3         2216 non-null   int64
 21  acceptedcmp4         2216 non-null   int64
 22  acceptedcmp5         2216 non-null   int64
 23  acceptedcmp1         2216 non-null   int64
 24  acceptedcmp2         2216 non-null   int64
 25  complain             2216 non-null   int64
 26  z_costcontact        2216 non-null   int64
 27  z_revenue            2216 non-null   int64
 28  response             2216 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(25), object(2)
memory usage: 519.4+ KB
acceptedcmp1 [0 1]
acceptedcmp2 [0 1]
acceptedcmp3 [0 1]
acceptedcmp4 [0 1]
acceptedcmp5 [0 1]
complain [0 1]
response [1 0]
<class 'pandas.core.frame.DataFrame'>
Index: 2216 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2216 non-null   int64
 1   year_birth           2216 non-null   int64
 2   education            2216 non-null   object
 3   marital_status       2216 non-null   object
 4   income               2216 non-null   float64
 5   kidhome              2216 non-null   int64
 6   teenhome             2216 non-null   int64
 7   dt_customer          2216 non-null   datetime64[ns]
 8   recency              2216 non-null   int64
 9   mntwines             2216 non-null   int64
 10  mntfruits            2216 non-null   int64
 11  mntmeatproducts      2216 non-null   int64
 12  mntfishproducts      2216 non-null   int64
 13  mntsweetproducts     2216 non-null   int64
 14  mntgoldprods         2216 non-null   int64
 15  numdealspurchases    2216 non-null   int64
 16  numwebpurchases      2216 non-null   int64
 17  numcatalogpurchases  2216 non-null   int64
 18  numstorepurchases    2216 non-null   int64
 19  numwebvisitsmonth    2216 non-null   int64
 20  acceptedcmp3         2216 non-null   bool
 21  acceptedcmp4         2216 non-null   bool
 22  acceptedcmp5         2216 non-null   bool
 23  acceptedcmp1         2216 non-null   bool
 24  acceptedcmp2         2216 non-null   bool
 25  complain             2216 non-null   bool
 26  z_costcontact        2216 non-null   int64
 27  z_revenue            2216 non-null   int64
 28  response             2216 non-null   bool
dtypes: bool(7), datetime64[ns](1), float64(1), int64(18), object(2)
memory usage: 413.3+ KB